

.checkbox-input:checked{
      accent-color: rgb(214, 110, 128);
    
}

@media (min-width:320px) and (max-width:480px){
      .wishlist-container{
            flex-direction: column;
      }
      .wishlist-cardcontainer{
             overflow: auto;
            grid-template-columns: repeat(3, 0fr) !important;
           
           
      }
}
@media (min-width:480px) and (max-width:768px){
      .wishlist-container{
            flex-direction: column;
      }
      .wishlist-cardcontainer{
             overflow: auto;
            grid-template-columns: repeat(1, 0fr) !important;
           
           
      }
}
@media (min-width:768px) and (max-width:1024px){
      .wishlist-container{
            flex-direction: column;
      }
      .wishlist-cardcontainer{
             overflow: auto;
            grid-template-columns: repeat(3, 0fr) !important;
           
           
      }
}
@media (min-width:1025px) and (max-width:1440px){
      .wishlist-cardcontainer{
            grid-template-columns: repeat(3, 0fr) !important;
      }
}

.wissee::-webkit-scrollbar{
      display: none;
}