@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.filterproductmainsection {
  /* width: 310px; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 420px;
  padding: 23px 20px 23px 20px;
  border-top: 1px solid black;
}
.filterheaderradiodiv {
  /* width: 250px;
    height: 370px; */
}
.headersearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 30px;
  font-family: "Poppins", sans-serif;
}
.filterheading {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  color: #1b1b1b;
}
.filtersearch {
  border-radius: 30px;
  padding: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
}
.filterradiotextdiv {
  display: flex;

  flex-direction: column;
  gap: 10px;
  /* width: 160px;
  height: 279px; */
}
.filterradiotextdiv label {
  display: flex;
  align-items: center;
}
.filterviewmorebutton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 124px;
  height: 25px;
  border: 1px solid #ff8272;
  border-radius: 2px;
  padding: 0px 18px 1px 10px;
}


.search-inputfilters:focus {
  outline: 1px solid #ffa085;
  border-radius: 2px;
}
.customcheckboxcolorchange:checked{
  background-color: #ff8272;
}


